/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.text-center {
  margin: 50px;
}
#map{
  margin: 40px 0px;
}
