
<%= simple_form_for new_review, method: :patch do |f| %>
  <%= f.input :content %>
  <span class="star-cb-group">
    <input type="radio" id="rating-5" name="new_review[rating]" value="5" /><label for="rating-5">5</label>
    <input type="radio" id="rating-4" name="new_review[rating]" value="4" checked="checked" /><label for="rating-4">4</label>
    <input type="radio" id="rating-3" name="new_review[rating]" value="3" /><label for="rating-3">3</label>
    <input type="radio" id="rating-2" name="new_review[rating]" value="2" /><label for="rating-2">2</label>
    <input type="radio" id="rating-1" name="new_review[rating]" value="1" /><label for="rating-1">1</label>
    <input type="radio" id="rating-0" name="new_review[rating]" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
  </span>
  <%= f.submit "add a new review", class: "btn btn-primary" %>
<% end %>
