<% content_for :title_tag do %>
Spadium : my bookings
<% end %>


<div class="container margin-top">
  <!-- tabs title -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#futur" aria-controls="futur" role="tab" data-toggle="tab">Upcoming bookings</a></li>
    <li role="presentation"><a href="#past" aria-controls="past" role="tab" data-toggle="tab">Past bookings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="futur">
      <% if @bookings_futur.size %>
        <%= render 'bookings', bookings: @bookings_futur, futur: true %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="past">
      <% if @bookings_past.size %>
        <%= render 'bookings', bookings: @bookings_past, futur: false %>
      <% end %>
    </div>
  </div>
</div>


<% content_for :after_js do %>
  <script>
    // script to redirect to the correct tab based on url
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
    }

    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    })
  </script>
<% end %>

