<div class="box-info">
  <div class="photo-icon text-center">
    <%= cl_image_tag(spa.photo.path, :width => 250, :height => 70, :crop => :fill) %>
  </div>
  <div class="spa-data text-center">
    <h5>
      <%= link_to(spa.name, spa_path(spa)) %>
    </h5>
    <%= spa.address %>
  </div>
</div>
