<div class="box-mail text-center">
      <h1>Welcome <%= @user.email %></h1>
      <p>
        You just booked for a <strong><%= @massage.name %>!!</strong>
      </p>
      <p>
        Are you ready for your <%= @massage.description %>?
      </p>
</div>


