// Your footer style
#footer {
  background: #222222;
  padding: 30px 0;
  color: #CCCCCC;
  margin-top: 10px;
  a {
    color: #CCCCCC;
    font-size: 35px;
    margin: 10px;
  }

  a:hover {
    color: yellow;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
}




