.form-booking{
  padding: 20px;
  // margin-top: 40px;
  // margin-right: 30px;
  height: 100%;
  background-color: white;
  margin-right: 20px;
  h3{
    font-size: 18px;
  }
  p {
  font-size: 16px;
  }

}




label {
    display: block;
    width: 100%;
    font-weight: normal;
}

label > i {
  display: none;
}

.radio-enhanced{
  border-top: 2px solid #e8ebeb;
  label{
  margin: 0px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  }
  input[type="radio"]:checked + label {
    background: #ECEDED;
  }
  input[type="radio"]:checked + label > i {
     display: inline;
  }
  input[type="radio"] {
    display: none;
  }

  h3, p{
    margin: 0;
    padding: 0;
  }
.radio-enhanced-content{
    flex: 1 0 30%;
  }

.radio-enhanced-price {
    margin: 20px;
  }
}

.plus {
  color: white;
}

.radio-enhanced:hover {
  background: #ECEDED;
}


.radio-enhanced:hover .plus {
  display: block;
  color: green;
}

.radio-enhanced:checked .plus {
  display: block;
  color: green;
}


