.massage{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  .massage-content{
    flex: 1 0 auto;
  }
  .massage-price{
    // flex: 1 0 20%;
    padding: 0 50px;
  }
  .massage-book{
    // flex: 1 0 20%;

  }
}

.list-unstyled {
  margin-top: 50px;
}
