.amenities {
  margin-top: 20px;
  margin-left: 10px;
}



.spa-description {
  margin-top: 20px;
  margin-left: 10px;
}



.banner-photo {
  height: 400px;
  background-position: center center;
}

//.massages-title {
//  margin-top: 10px;
//}




#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.booking-and-description {
  margin-top: 20px;
}

.tab-content {
  margin-top: 20px;
}

.tab-content > .active {
  margin-top: 70px;
}

.nav-tabs > li > a {
  color: gray;
}

.nav-tabs > li.active > a {
  color: gray;
  font-weight: bold;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: gray;
}

.reviews-show {
  margin-top: -40px;
  margin-left: -15px;
}

//.review-and-avatar-show {
//  display: flex;
//  align-items: inline;
//}

.unique-review {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .stars-and-content{
    flex: 0 0 40%;
  }
  .avatar-show{
    flex: 0 0 10%;
  }
}


/* remove border radius for the tab */




/* change border radius for the tab , apply corners on top*/


