.amenities {
  margin-top: 20px;
  margin-left: 10px;
}



.spa-description {
  margin-top: 20px;
  margin-left: 10px;
}



.banner-photo {
  height: 400px;
  background-position: center center;
}

//.massages-title {
//  margin-top: 10px;
//}




#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.booking-and-description {
  margin-top: 20px;
}

.tab-content {
  margin-top: 20px;
}

.tab-content > .active {
  margin-top: 70px;
}

.nav-tabs > li > a {
  color: gray;
}

.nav-tabs > li.active > a {
  color: gray;
  font-weight: bold;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: gray;
}
/* remove border radius for the tab */




/* change border radius for the tab , apply corners on top*/


